.nav {
    background-color: transparent;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: var(--z-fixed);
    transition: all 0.3s ease;
}

.nav .active {
    background-color: transparent;
}

.active {
    background-color: hsl(var(--gray3));
}

.navbar--container {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

.nav--logo {
    color: hsl(var(--light));
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon--sep {
    color: hsl(var(--primary));
}

.mobile--icon {
    display: none;
}

.nav--menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav--item {
    height: 64px;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.nav--item:hover {
    background-color: hsla(var(--gray2), 30%);
    border-top: 4px solid transparent;
    border-bottom: 4px solid hsl(var(--primary));
    transition: all 0.3s ease-out;
}

.nav--item .active {
    height: 64px;
    background-color: hsla(var(--gray2), 30%);
    margin-top: -4px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid hsl(var(--primary));
}

.nav--link {
    color: hsl(var(--light));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 100%;
    cursor: pointer;
}

.nav--item--btn {
    padding-left: 5px;
}

.nav--item--btn button {
    padding: 8px;
}

.nav--item--btn span {
    display: none;
}

.nav--btn--link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

.scroll--up {
    padding: 12px;
    border-radius: 8px;
    background-color: hsl(var(--gray3));
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: .8;
}

.scroll--up svg {
    color: hsl(var(--light));
}

@media screen and (max-width: 768px) {
    .mobile--icon {
        color: hsl(var(--light));
        padding-top: 0.5rem;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 25%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav--menu {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        position: absolute;
        top: 64px;
        opacity: 1;
        transition: all 0.3s ease;
        background-color: hsl(var(--gray3));
        backdrop-filter: blur(4px);
        padding: 1rem 28px;
    }

    .nav--item {
        height: auto;
        width: 50%;
        padding: 5px 10px;
        margin: 0;
    }

    .nav--item:hover {
        border-bottom-color: transparent;
        transition: none;
        background-color: transparent;
        transition: all 0.3s ease-out;
    }

    .nav--item .active {
        height: auto;
        background-color: hsla(var(--gray2), 100%);
        margin-top: 0;
        border: 0;
        transition: all 0.3s ease-out;
    }
    .nav--link {
        text-align: center;
        padding: 12px;
        width: 100%;
        display: table;
        border-radius: 50px;
        background-color: hsla(var(--gray2), 30%);
        transition: all 0.3s ease-out;
    }

    .nav--link:hover {
        background-color: hsla(var(--gray2), 100%);
    }

    .nav--item--btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 8.5px;
    }

    .nav--item--btn button {
        width: 100%;
        padding: 12px;
    }
}

@media screen and (max-width: 500px) {
    .nav--item {
        width: 100%;
    }
    .nav--item--btn {
        width: 100%;
    }
}