:root {
    --main-font: 'Roboto', sans-serif;

    --hue: 225;
    /* --primary: 198, 93%, 60%;  */
    --primary: 198, 73%, 47%; 
    --dark: var(--hue), 11%, 12%; 
    --light: 0, 0%, 100%;

    --gray1: var(--hue), 11%, 70%;
    --gray2: var(--hue), 11%, 30%;
    --gray3: var(--hue), 11%, 15%;

    --z-fixed: 100;
    --z-modal: 1000;
}

* {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(var(--light));
    scroll-behavior: smooth;
}

ul { 
    list-style: none; 
}

a { 
    text-decoration: none; 
}

.l--0 {
    left: 0;
}

.l--100 {
    left: -100%;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.btn {
    border-radius: 50px;
    font-weight: 500;
    color: hsl(var(--light));
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-out;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn span {
    margin-right: 8px;
}

input, textarea {
    border: none;
    outline: none;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--light);
    border-radius: 8px;
    border: 2px solid hsl(var(--gray1));
}

input:focus, textarea:focus {
    border: 2px solid hsl(var(--gray2));
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}